In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('..\Dataset\Delhi_Metro_Data.csv')

In [21]:
df.head()

          Station Name   Latitude  Longitude
0  Adarsh Nagar Delhi   28.716580  77.170422
1         AIIMS Delhi   28.566860  77.207806
2    Akshardham Delhi   28.617842  77.279488
3   Anand Vihar Delhi   28.646834  77.315875
4    Arjan Garh Delhi   28.480735  77.125762

In [22]:
BBox = [df.Longitude.min(), df.Longitude.max(), df.Latitude.min(), df.Latitude.max()]
print("Min Longitude : " , BBox[0])
print("Min Latitude : " , BBox[2])
print("Max Longitude : " , BBox[1])
print("Min Latitude : " , BBox[3])

Min Longitude :  76.9192027
Min Latitude :  28.340002
Max Longitude :  77.4154736
Min Latitude :  28.7446158